main.product{
    width: 100%;
    height: 100%;
    background: #E9E9E9;
    padding-bottom: 40px;
}
.product-card-conatiner{
    width: 95%;
    height: auto;
    margin: 0 auto;
    background: #e6e6e6eb;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
}
div.product-card{
    width: 40rem;
    height: 17rem;
    background: #292929;
    position: relative;
    display: flex;
    border-radius: 50px;
    filter: drop-shadow(6px 6px 5px rgba(0, 0, 0, 0.8));
    margin: 30px;
}
div.product-card-text{
    width: 60%;
    /* background: #757575; */
}
.product-card img{
    height: 100%;
    border-radius: 28%;
}
.product-card-text{
    text-align: center;
    color: white;
}
.product-card-text h1{
    color: inherit;
    padding: 10px 10px;
}
.product-card-text ul{
    list-style: none;
    display: block;
    text-align: left;
    margin-left: 10px;
}
.product-card-text ul li{
    color: inherit;
    font-size: 12px;
}
.product-header{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-size: 24px;
    position: relative;
    padding-top: 16px;
}
.product-header h1{
    color: #525252;
}
div.line{
    height: 1px;
    
    background: #000;
    position: absolute;
    
    left: 50%;
    transform: translateX(-50%);
}
.line1{
    width: 20%;
    top: 100%;
}
.line2{
    width: 17%;
    top: 95%;
}
.line3{
    width: 12%;
    top: 90%;
}
.getqoute{
    position: relative;
    width: 100%;
    height: 10vh;
    background: #e9e9e9;
}
.btn-get{
    padding: 18px 51px;
    border-radius: 100px;
    border: none;
    background: url(../images/20933607.png);
    background-size: cover;
    color: white;
    font-size: 24px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    outline: none;
    cursor: pointer;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-content-wrapper{
      display: flex;
      justify-content: space-around;
  }
  .log-box-get-qoute{
      text-align: center;
  }
  .log-box-get-qoute img{
      height: 260px;
  }
  .log-box-get-qoute h1{
      display: block;
      margin: 30px 7px;
      letter-spacing: 2px;
      color: #525252;
  }
  .log-box-get-qoute h1 span.heading-primary{
      font-size: 47px;
  }
  .log-box-get-qoute h1 span.heading-second{
    display: block;
    font-size: 32px;
    line-height: 1px;
  }